<div class="container">
  <p>Add a new Restaurant</p>

    <%= form_for @restaurant do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>
      <div class="field">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number %>
      </div>
      <div class="field">
        <%= f.label :category %>
        <%= f.text_field :category %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>
      <div class="field">
        <%= f.label :capacity %>
        <%= f.number_field :capacity %>
      </div>
      <div class="field">
        <%= f.label :rating %>
        <%= f.number_field :rating %>
      </div>
      <div class="actions">
        <%= f.submit "Create" %>
      </div>
    <% end %>
</div>
